@import "constants/colors.scss";

#root,
.App {
  height: 100%;
}

.layout {
  min-width: 1280px;
  height: 100%;
  // padding: 0 16px;
}

.tabbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 110px;
  height: 100%;
  background: white;
  z-index: 100;
}

.tab-content {
  margin-left: 110px;
  padding: 16px;
  height: 100%;
}

.content-header {
  display: inline-block;
  padding: 0 8px;
  line-height: 64px;
  font-size: 41px;
  font-weight: bold;
  height: 64px;
  background: $elYellow;
  color: $elPurple;
  text-transform: uppercase;
}
