@import "constants/colors.scss";

.team-member {
  position: relative;
  width: 360px;
  height: 540px;
  padding: 16px;

  .img-wrapper {
    border-radius: 1000px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }

  .name {
    font-weight: bold;
    font-size: 24px;
    color: $elYellow;
  }

  .description {
    color: $elBlue;
  }

  .social {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .social-icon {
      width: 24px;
      margin-left: 12px;
    }
  }
}
