@import "constants/colors.scss";

.publications {
  margin: 32px 0;
}
.publication {
  position: absolute;
  z-index: 100;
  padding: 8px;

  img {
    width: 100%;
  }
  .source {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    text-align: right;
  }

  .title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .text {
    color: $elBlue;
    padding: 0 32px 0 0;
  }
  // &.yellow {
  //   .description {
  //     background: rgba($elYellow, 0.9);
  //   }
  // }
  .description {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba($elPurple, 0.9);
    background: rgba(#303b44, 0.9);
  }
}

// .square-bkg-publications {
//   background: rgba($elPurple, 0.8);
//   width: 5000px;
//   height: 5000px;
//   position: absolute;
//   top: -200px;
//   border-radius: 50%;
//   z-index: 0;
//   transform: rotate(45deg);
// }
